# Some popular IDEs
.vscode
.idea

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Dependency directories
/vendor/

# Compiled binaries
/bin/*
/dist/

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Temporary and local files
.tmp
.DS_Store
node_modules/
/package*.json

# Go Workspaces
go.work
